.top-filter{
    display: flex;
    background-color: var(--crl-mail-bg);
    height: 2em;
        
}

.search-bar-container{
    
}

.side-filter{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--crl-mail-bg);
    inset-inline-start: 0;
    top: 7em;
    bottom: 0;
}