.mail-preview {
    display: grid;
    grid-template-columns: 2fr 1em 7fr 1em 1fr;
    justify-content: space-between;
    align-items: center;
    
    margin: 0px 0px 2px 0px;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
   
    padding-inline-start: 1em;
    
    cursor: pointer;
}

.mail-preview.read {
    background-color: var(--crl-mail-read);
}

.mail-preview.read >*,
 .mail-preview.read >*>*{
    font-weight: 100;
}

.mail-preview:hover {
    border: var(--clr-mail-bg) 5px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 0px;
    /* box-shadow: 0 8px 6px -6px black; */
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
}


.mail-data {
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow-x: hidden;
    /* height: 1lh; */
    white-space: nowrap;

    grid-column: 3;
}

.mail-subject {
    color: var(--clr-mail-font-black);
}

.mail-data :nth-child(2) {
    color: var(--clr-mail-font-gray);
}

.mail-date {
    font-weight: bold;
    font-size: 0.8em;
    grid-column: 5;
}

.mail-preview .show-txt-btn {
    font-size: 0px;
}