.top-filter {
    /* position: fixed; */
    /* top: 6.6em; */

    display: grid;
    grid-template-columns: var(--width-side-filter-mail) 1fr;
    justify-items: center;
    align-items: center;

    background-color: var(--crl-mail-bg);
    height: 5.3em;
}

.search-bar-container {
    grid-column: 2;
    align-items: center;
}

.top-filter button {
    cursor: pointer;
}

.search-bar {
    position: relative;
    width: clamp(20em, 50vw, 800em);
    display: flex;
}

.search-bar-container .search-btn {
    position: absolute;
    left: -30px;
    top: -50%;
    transform: translateY(-60%);
    background-color: inherit;
    z-index: 2;

    border: 0px;
    border-radius: 50%;
    scale: 0.25;
}

.search-bar-container .date-btn {
    position: absolute;
    right: -30px;
    top: -50%;
    transform: translateY(-40%);
    background-color: inherit;
    z-index: 2;

    border: 0px;
    border-radius: 50%;
    scale: 0.25;
}

.top-filter .date-input {
    padding-inline-start: 1em;
    text-align: left;
}

.search-bar-container button:hover {
    background-color: var(--crl-mail-search-icon);
}


.top-filter input {
    border-radius: 5em;
    border: 0px;
    background-color: var(--crl-mail-search-bar);
    height: 2.875em;
    width: 100%;
    padding-inline-start: 4em;

    margin-bottom: 0.4em;
}

.top-filter input:focus {
    outline: none !important;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
}

.top-filters {
    /* margin-inline-start: calc(var(--width-side-filter-mail)+3.7em); */
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    height: 3.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.5fr;
    background-color: white;
    border-radius: 1em 1em 0 0;
    font-family: 'roboto-medium';

}

/* .top-filters :first-child{
    border-radius: 1em 0 0 0;
} */

.top-filters>* {
    display: flex;
    padding-inline-end: 50%;
    gap: 1em;
    align-items: center;
    border: 0px;
    background-color: white;
}

.top-filters img {
    width: 1.3em;
    height: 1.3em;
    /* font-family: 'roboto-regular'; */

}

button.sort-btn{
    cursor:default;
}
button.sort-btn:hover .sort-list>*{

    display: flex;
    flex-direction: column;
}

.sort-list>* {
    border: 0px;
    border-radius: 1em;
    background-color: white;
    display: none;
}

.sort-list>*:hover {
    background-color: var(--clr-mail-filter-hover);
 
}


.top-filters>*:hover {
    background-color: var(--clr-mail-filter-hover);
}

.side-filter {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: var(--width-side-filter-mail);

    background-color: var(--crl-mail-bg);

    inset-inline-start: 0;
    top: 6.6em;
    bottom: 0;

    font-family: 'roboto-medium';
}

.side-filter button {
    display: flex;
    justify-content: space-between;

    font-size: 0.875;
    padding: 0.5em;

    border: 0px;
    border-radius: 0 3em 3em 0;

    background-color: inherit;
    color: #202124;
    margin-inline-end: 1em;

    cursor: pointer;
}

.top-filter-first {
    border-radius: 1em 0 0 0;
}

.selected-top-filter{
    border-bottom: #0B57D0 3px solid;
    color: #0B57D0
}

.side-filter button:hover {
    background-color: rgba(32, 33, 36, 0.06);
}

.side-filter img {
    width: 1.3em;
}

.side-filter>*>section {
    display: flex;
    align-items: center;
    justify-items: center;
}

.side-filter>*>section>* {
    margin-inline-start: 2em;
}

button.selected-side-filter{
    background-color: #d3e3fd;
    font-family: 'roboto-bold';
}

button.mail-compose-btn {
    display: grid;
    align-items: center;
    place-content: center;

    width: 10.375em;
    height: 3.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 2em;

    border-radius: 1em;
    background-color: var(--crl-mail-compose-btn);

    /* font-weight: 500; */
    font-family: 'roboto-medium';

    transition: 200ms;
}

button.mail-compose-btn img {
    margin-left: 0;
}

button.mail-compose-btn:hover {
    background-color: var(--crl-mail-compose-btn);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
}