 /* mail list */

 .mail-from {
     font-weight: bold;
 }

 .mail-subject {
     font-weight: bold;
 }

 ul.mail-list {
     list-style-type: none;
     padding-inline-start: var( --width-side-filter-mail);
     background-color: white;
 }

 /* .mail-preview.read:hover ul.mail-list{
    background-color: var(--crl-mail-read);

 } */
/* ul.mail-list .read {
    background-color: var(--crl-mail-read);
}
  */

  .mail-li.read{
    background-color: var(--crl-mail-read);
  }

 .mail-list li {
    background-color: #ffff;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
    
    background-color: inherit;
 }

 .mail-list{
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
 }

 li.mail-li{
    display: grid;
    align-items: center;
    align-content: center;

    position: relative;

 }

 .mail-icons{
     display: none;
     /* display: flex; */
     align-self: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 6%;
    top: 2px;
    background-color: inherit;
    height: 2lh;
    /* width: 6em; */
    /* margin-right:4em; */
    grid-column: 5;

    /* padding: 0 4vw; */
 }

 li.mail-li:hover .mail-icons{
    /* z-index: 2; */
     display: flex;

 }

 li.mail-li:hover .mail-date{
   display: none;
 }

 .mail-icons img{
    width: 1.2em;
 }

 .mail-icons button{
    border: 0px;
    border-radius: 2em;

    background-color: inherit;
 }

 .mail-icons button:hover{
    background-color: rgba(32, 33, 36, 0.06);

 }