 /* mail list */

 .mail-from {
     font-weight: bold;
 }

 .mail-subject {
     font-weight: bold;
 }

 ul.mail-list {
     list-style-type: none;
     padding-inline-start: var( --width-side-filter-mail);
 }

 .mail-list li {
    background-color: #ffff;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
 }