/* Mobile Only */
@media (max-width: 640px) {
    /* .main-nav {
        position: fixed;
        background: #000;
        top: 40px;
        left: 0;
        width: 100%;
    }

    .main-nav-list {
        flex-direction: column;
    } */

    .app-header{
        gap: 0;
    }

    .app-header .logo{
        margin-inline-start: 0.5em;
        gap: 0.5em;
    }

    .app-header .logo img{
        width: 3em;
    }

    .app-header .logo h2{
        font-size: 1.2em;
    }

    header{
        align-items: center;
    }
     header nav{
         display: grid;
         grid-template-columns: 2;
         grid-template-rows: 2;

         opacity: 0;
         pointer-events: none;
         z-index: 3;

         background-color: white;
         border-radius: 1em;
         border: 0.4em #EAEBEF solid;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;

        position: absolute;
        right: 0;
        top: 7em;
     }

     .menu-backdrop{
        position: absolute;
        inset: 0 0 0 0;
        background-color: gray;
        opacity: 0.1;
        z-index: 2;
     }

     header nav.show{
        opacity: 1;
        pointer-events: all;
     }
     
     header nav .active{
        padding: 0;
     }

     header nav :nth-of-type(even){
        grid-column: 2;
     }

     .apps-icon{
        display: block;
        width: 2.5em;
        height: 2.5em;
        
        align-self: center;
        margin-right: 1em;
        border-radius: 50%;
        
        padding: 0.2em;
        cursor: pointer;
     }

     .apps-icon:hover{
        background-color: var(--crl-mail-search-icon);
     }

     .nav-word{
        display: none;
     }

     .nav-logo{
        display: block;
        width: 2em;
        z-index: 3;
        padding: 0.2em;
     }

     .nav-logo:hover{
        background-color: var(--crl-mail-search-icon);
        border-radius: 0.5em;
     }

}