@media (max-width: 600px) {
    .app-header .logo img {
        width: 2.2em;
    }

    ul.notes {
        columns: 1;
        column-gap: 20px;
    }

    .home {
        width: 80vw;
    }

    .welcome-area h1 {
        font-size: 2em;
    }

    .menu-and-notes {
        display: flex;
        gap: 0.5em;
    }

    .actions-collapsed-form {
        position: absolute;
        top: 150%;
    }

    .canvas-container {
        width: 300px;
        height: 300px;
    }

    .welcome-area {
        flex-direction: column;
    }

    .welcome-area p {
        font-size: 1.2rem;
    }

    .welcome-message {
        justify-items: center;
        text-align: center;
    }

    .menu-notes {
        right: -170px;
    }

    .form-filter {
        width: 100%;
    }

    .add-note-form {
        width: 65vw;
    }

    .team-lead {
        flex-direction: column;
        margin: auto;
        padding: 2.7em;
    }

    .team-member {
        width: 20em;
    }

    .team-member hr {
        width: 15em;
    }

    .option-types {
        justify-content: center;
        flex-wrap: wrap;
    }

    .option-types>* {
        width: 6em;
        height: 6em;
    }

    .option-types i {
        margin-block-start: 1em;
        font-size: 1.4em;
    }

    .color-input {
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 10em;
    }

    .color-input .items-container {
        flex-wrap: wrap;
    }

    .new-note {
        width: 15em;
    }

    .notes {
        display: grid;
        justify-content: center;
    }

    .pinned-notes h4 {
        margin-inline-start: 2em;
    }

    .edit-note-form {
        width: 90vw !important;
        max-width: 330px;
    }
}

@media (min-width: 601px) {
    ul.notes {
        columns: 2;
    }

    .home {
        width: 60vw;
    }

    .welcome-area h1 {
        font-size: 5em;
    }

    .keep-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .menu-and-notes {
        gap: 5em;
    }

    .actions-collapsed-form {
        top: 50%;
    }

    .welcome-area p {
        font-size: 1.6rem;
    }

    .welcome-message {
        justify-items: start;
    }

    .menu-notes {
        right: -220px;
    }

    .form-filter {
        width: 70vw;
        max-width: 50em;
    }

    .add-note-form {
        width: 50vw;
        max-width: 36em;
    }

    .note-bars-btn {
        margin-inline-start: 0.4em;
    }

    .team-lead {
        flex-direction: row;
        padding: 1em;
    }

    .team-member {
        width: 26em;
    }

    .team-member hr {
        width: 18em;
    }

    .team-member ul {
        margin: 0;
        margin-inline-start: 1.5em;
        margin-block-start: 1em;
    }

    .option-types>* {
        width: 10em;
        height: 10em;
    }

    .option-types i {
        margin-block-start: 1.5em;
        font-size: 2em;
    }

    .option-types {
        flex-wrap: nowrap;
    }

    .color-input .items-container {
        flex-wrap: nowrap;
    }

    .color-input {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .edit-note-form {
        width: 50vw;
    }

}

@media (min-width: 900px) {
    ul.notes {
        columns: 3;
    }

    .keep-header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15em;
    }

    .canvas-container {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1150px) {
    ul.notes {
        columns: 4;
    }
}

@media (min-width: 1500px) {
    ul.notes {
        columns: 5;
    }


}