@media (max-width: 600px) {
    ul.notes {
        columns: 1;
        column-gap: 20px;
    }

    .home {
        width: 80vw;
    }

    .welcome-area h1 {
        font-size: 2em;
    }

    .keep-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .menu-and-notes {
        display: flex;
        gap: 0.5em;
    }

    .actions-collapsed-form {
        position: absolute;
        top: 150%;
    }

    .canvas-container {
        width: 300px;
        height: 300px;
    }

    .app-logo {
        width: 6em;
        margin-block-end: 5em;
    }

    .welcome-area p {
        font-size: 1.2rem;
    }

    .menu-notes {
        right: -200px;
    }

    .form-filter {
        width: 100%;
    }

    .add-note-form {
        width: 60vw;
        margin-inline-end: 1em;
    }

    .team-lead {
        flex-direction: column;
        margin: auto;
        padding: 2.7em;
    }

    .team-member {
        width: 20em;
    }

    .team-member hr {
        width: 15em;
    }

}

@media (min-width: 601px) {
    ul.notes {
        columns: 2;
    }

    .home {
        width: 60vw;
    }

    .welcome-area h1 {
        font-size: 5em;
    }

    .keep-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .menu-and-notes {
        gap: 5em;
    }

    .actions-collapsed-form {
        top: 50%;
    }

    .app-logo {
        width: 12em;
    }

    .welcome-area p {
        font-size: 1.6rem;
    }

    .menu-notes {
        right: -220px;
    }

    .form-filter {
        width: 70vw;
        max-width: 50em;
    }

    .add-note-form {
        width: 50vw;
        max-width: 36em;
    }

    .note-bars-btn {
        margin-inline-start: 1em;
    }

    .team-lead {
        flex-direction: row;
        padding: 1em;
    }

    .team-member {
        width: 26em;
    }

    .team-member hr {
        width: 18em;
    }

    .team-member ul {
        margin: 0;
        margin-inline-start: 1.5em;
        margin-block-start: 1em;
    }

}

@media (min-width: 900px) {
    ul.notes {
        columns: 3;
    }

    .keep-header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15em;
    }

    .canvas-container {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1150px) {
    ul.notes {
        columns: 4;
    }
}

@media (min-width: 1500px) {
    ul.notes {
        columns: 5;
    }


}