:root {
    --main-bg-color: lightblue;

    --crl-label: #DDDDDD;
    --crl-font: #666666;
    --crl-font-2: #555555;
    --clr-font-3: #fff;
    --clr-btn-call-to-action: #A8DDE3;
    --clr-btn-call-to-action-hover: #c7ebef;

    --width-side-filter-mail: 14em;
}