:root {
    --main-bg-color: lightblue;

    --crl-label: #DDDDDD;
    --crl-font: #666666;

    --crl-mail-bg: #f6f8fc;
    --crl-mail-read: #f2f6fc;
    --crl-mail-search-bar: #eaf1fb;
    --crl-mail-search-icon: rgba(60, 64, 68, 0.1);

    --crl-mail-compose-btn: #c2e7ff;
    
    --clr-mail-font-black: #202124;
    --clr-mail-font-gray: #5f6368;


    --width-side-filter-mail: 14em;
}