* {
    box-sizing: border-box;
}

.note-filter {
    margin-inline-end: auto;
}

.form-filter {
    position: relative;
}

.note-filter input {
    width: 100%;
    height: 3em;
    padding: 1em 3.3em 1em;

    border: none;
    border-radius: 0.3em;

    background-color: whitesmoke;
    font-size: 1.2rem;
    font-family: inherit;
}

.note-filter input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.search {
    display: grid;
    justify-content: center;
    margin-block-start: 20px;
    margin-block-end: 40px;
}

.search-btn {
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0.5em;

    border: none;
    background-color: transparent;
    color: #666;
    font-size: 1.1rem;

    transform: translate(0, -50%);
    cursor: pointer;
}

.search-btn:hover {
    background-color: rgb(225, 224, 224);
    border-radius: 50%;
}