* {
    box-sizing: border-box;
}

.pinned-notes {
    display: none;
}

.pinned-notes.show {
    display: block;
}

.unPinned-notes h1 {
    display: none;
}

.unPinned-notes h1.show {
    display: block;
}


ul.notes {
    column-gap: 20px;

    width: 80vw;
    max-width: 1300px;
    padding: 0;
}

.notes li {
    position: relative;
    break-inside: avoid;
    display: inline-block;
    margin-block-end: 20px;

    width: 240px;
    height: max-content;

    list-style-type: none;
    background-color: whitesmoke;
    padding: 1em 1em 0.3em;
    border-radius: 0.6em;
    break-inside: avoid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.notes li:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.notes li:hover .toolbar,
.notes li:hover .pin-btn {
    opacity: 1;
}

.notes li h3 {
    font-weight: 550;
}

.notes li p {
    font-size: 0.9rem;
}

.notes img {
    border-radius: 0.7em;
    margin-block-end: 2em;
}

.notes iframe {
    border-radius: 0.7em;
    margin-block-end: 2em;
}

.toolbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
    place-items: center;

    opacity: 0;
    transition: 0.3s ease;
}

.pin-btn {
    background-color: transparent;
    border: none;

    padding: 0.3em;
    cursor: pointer;
    opacity: 0;
}

.pin-btn img {
    width: 22px;
    margin: 0;
}

.title-and-info-content .pin-btn.absolute {
    width: 25px;
    position: absolute;
    top: 5px;
    left: 15px;
}

.title-and-info-content.absolute {
    display: grid;

}

.title-and-info-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "pin-btn title";
    gap: 0.5em;
    align-items: center;
}

.pin-btn {
    grid-area: pin-btn;
}

.title-and-info-content h3 {
    grid-area: title;
}

p {
    grid-column: 1 / -1;
}

input[type="checkbox"]:checked+.todo-text {
    text-decoration: line-through;
}