* {
    box-sizing: border-box;
}

ul.notes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;

    width: 80vw;
    max-width: 1300px;
    padding: 0;
}

.notes li {
    display: inline-block;
    width: 100%;
    height: max-content;

    list-style-type: none;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.6em;
    border: 1px solid #bdc1c6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    break-inside: avoid;
}

.notes img {
    border-radius: 0.7em;
}