* {
    box-sizing: border-box;
}

.edit-note-form {
    display: flex;
    flex-direction: column;

    width: 50vw;
    max-width: 36em;
    max-height: 80vh;
    overflow-y: auto;

    border-radius: 0.6em;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.edit-video-or-img {
    position: relative;
}

.edit-note-form .delete-btn,
.add-note-form .delete-btn {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 5px;

    padding: 0.5em;
    border-radius: 0.3em;
    background-color: rgba(0, 0, 0, 0.694);

    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

.edit-video-or-img img,
.edit-video-or-img iframe {
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.edit-video-or-img:hover .delete-btn {
    opacity: 0.8;
}

.edit-note-form textarea[name="txt"] {
    margin-block-end: 1.5em;
}

.pin-btn-edit-modal {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;

    padding: 0.7em;
    margin-block-start: 0.5em;
    cursor: pointer;
    z-index: 1;
}

.pin-btn-edit-modal img {
    width: 22px;
    margin: 0;
}

label.edit {
    color: var(--crl-font-2);
}

.todo-list-preview.edit {
    margin-block-end: 2em;
}

.edit-note-area {
    position: relative;
}