 /* mail index  */

 .mail-index{
    background-color: var(--crl-mail-bg);
    /* font-weight: 500; */

 }

 .mail-index button{
    cursor: pointer;
 }

 .mail-index button{
    font-family: inherit;
    /* font-weight: 500; */
 }

 .mail-index input{
    font-family: inherit;
 }