 /* home */
 * {
     box-sizing: border-box;
 }

 .home {
     display: grid;
     /* grid-template-columns: minmax(20px, 280px) 1fr minmax(20px, 280px); */
     grid-template-columns: minmax(1em, 1fr) minmax(auto, 1145px) minmax(1em, 1fr);
     width: 100%;

     color: #444;
     font-family: 'Mukta-Regular';
 }

 .home>* {
     grid-column: 2;
 }

 .apps-container {
     display: flex;
     flex-direction: column;
     align-content: center;
     gap: 3em;
 }

 .apps-container h2 {
     text-align: center;
 }

 .logos {
     display: flex;
     align-items: center;
     gap: 4em;
 }

 .app-logo img {
     transition: 0.5s ease-in-out;
     cursor: pointer;
 }

 .app-logo img:hover {
     transform: scale(1.1);
 }

 .welcome-area {
     display: flex;
     align-items: center;
     align-self: stretch;
     gap: .65em;

     margin-block-start: 4em;

     transition: transform 0.5s ease, box-shadow 0.3s ease;
 }

 .welcome-area h1 {
     margin: 0.5em 0;
 }

 .welcome-message {
     display: grid;

     align-items: start;
     height: fit-content;
     margin: 1.5em 0;
 }

 .welcome-area p {
     margin: 0;
     letter-spacing: 0.03em;
     font-size: 1.5rem;
 }

 .welcome-area p:first-of-type {
     font-size: 2.2rem;
     font-family: 'Mukta-ExtraBold';
 }

 .btn-try-now {
     margin-block-start: 1.5em;
     background-color: var(--clr-btn-call-to-action);
     padding: 0.5em 1em;
     color: inherit;
 }

 .btn-try-now:hover {
     background-color: var(--clr-btn-call-to-action-hover);
 }

 .main-img {
     animation: scaleUp 5s linear infinite;
 }

 @keyframes scaleUp {
     0% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.05);
     }

     100% {
         transform: scale(1);
     }
 }