 /* home */

 * {
     box-sizing: border-box;
 }

 .home {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 3em;

     max-width: 60vw;
     margin: auto;

     color: #444;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .apps-container {
     display: flex;
     flex-direction: column;
     align-content: center;
     gap: 3em;
 }

 .apps-container h2 {
     text-align: center;
 }

 .logos {
     display: flex;
     align-items: center;
     gap: 4em;
 }

 .app-logo {
     width: 12em;
 }

 .app-logo img {
     transition: 0.5s ease-in-out;
     cursor: pointer;
 }

 .app-logo img:hover {
     transform: scale(1.1);
 }

 .welcome-area {
     display: flex;
     flex-direction: column;

     padding: 2em;
     align-self: stretch;

     margin-block-start: 4em;

     border-radius: 2em;
     background: linear-gradient(0deg, rgba(224, 232, 255, 0.57) 5%, rgba(176, 231, 246, 0.67) 95%);
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

     text-align: center;

     transition: transform 0.5s ease, box-shadow 0.3s ease;
 }

 .welcome-area:hover {
     transform: scale(1.01);
     box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
 }

 .welcome-area h1 {
     margin: 0.5em 0;
 }

 .welcome-message {
     display: grid;
     gap: 0.8em;
     margin: 1.5em 0;
 }

 .welcome-area p {
     margin: 0;
     font-size: 1.6em;
     letter-spacing: 0.07em;
 }