 /* home */
 * {
     box-sizing: border-box;
 }

 .home {
     display: grid;
     /* grid-template-columns: minmax(20px, 280px) 1fr minmax(20px, 280px); */
     grid-template-columns: minmax(1em, 1fr) minmax(auto, 1145px) minmax(1em, 1fr);
     width: 100%;

     color: #444;
     font-family: 'Mukta-Regular';
 }

 .home>* {
     grid-column: 2;
 }

 .apps-container {
     display: flex;
     flex-direction: column;
     align-content: center;
     gap: 3em;
 }

 .apps-container h2 {
     text-align: center;
 }

 .logos {
     display: flex;
     align-items: center;
     gap: 4em;
 }

 .app-logo img {
     transition: 0.5s ease-in-out;
     cursor: pointer;
 }

 .app-logo img:hover {
     transform: scale(1.1);
 }

 .welcome-area {
     display: flex;
     align-items: center;
     align-self: stretch;
     justify-content: center;

     margin-block-start: 4em;

     transition: transform 0.5s ease, box-shadow 0.3s ease;
 }

 .welcome-area h1 {
     margin: 0.5em 0;
 }

 .welcome-message {
     display: grid;

     align-items: start;
     height: fit-content;
     margin: 1.5em 0;
 }

 .welcome-area p {
     margin: 0;
     letter-spacing: 0.03em;
     font-size: 1.5rem;
 }

 .welcome-area p:first-of-type {
     font-size: 2.2rem;
     font-family: 'Mukta-ExtraBold';
 }

 .btn-try-now {
     margin-block-start: 1.5em;
     background-color: var(--clr-btn-call-to-action);
     color: inherit;
 }

 .btn-try-now:hover {
     background-color: var(--clr-btn-call-to-action-hover);
 }

 .main-img-container {
     background-image: url('https://res.cloudinary.com/dvykycdey/image/upload/f_auto,q_auto,w_600/v1745168066/task-people2_tishnt.png');
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;

 }

 .main-img {
     width: 100%;
 }

 .main-img.animation {
     animation: scaleUp 5s linear infinite;
 }

 @keyframes scaleUp {
     0% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.05);
     }

     100% {
         transform: scale(1);
     }
 }

 .btn-try-now {
     position: relative;
     overflow: hidden;
     border: none;
     padding: .8em 1.5em;
     font-size: 1rem;
     border-radius: .8em;
     cursor: pointer;
     transition: background 0.3s ease-in-out;
 }

 /* .btn-try-now::before {
     content: '';
     position: absolute;
     top: 0;
     left: -75%;
     width: 50%;
     height: 100%;
     background: linear-gradient(120deg,
             rgba(255, 255, 255, 0.3) 0%,
             rgba(255, 255, 255, 0.6) 50%,
             rgba(255, 255, 255, 0.3) 100%);
     transform: skewX(-25deg);
 }

 /* Animation */
 /* .btn-try-now:before {
     animation: shine 1.2s ease-in-out forwards;
 }

 @keyframes shine {
     0% {
         left: -75%;
     }

     100% {
         left: 125%;
     }
 }  */