 /* note index */

 * {
     box-sizing: border-box;
 }

 .main-note {
     display: flex;
     flex-direction: column;
     align-items: center;

     margin-block-start: 10px;
 }

 .new-note {
     display: flex;
     flex-direction: column;
     align-items: center;

     gap: 60px;
     margin-block-start: 25px;
 }

 .add-note-form {
     display: flex;
     flex-direction: column;
     position: relative;

     width: 50vw;
     max-width: 36em;

     border: 1px solid lightgray;
     border-radius: 0.6em;

     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
 }

 .add-video-or-img img,
 .add-video-or-img iframe {
     border-top-left-radius: 0.6em;
     border-top-right-radius: 0.6em;
 }

 .info-area {
     padding: 0 0.6em;
 }

 .add-note-form input[name="noteTitle"],
 textarea[name="noteTitle"] {
     font-size: 1rem;
     font-weight: 500;
 }

 .new-note input {
     padding: 0.7em;
 }

 .new-note input,
 .textarea-input {
     border: none;
     font-family: inherit;
     font-weight: 500;
 }

 .textarea-input {
     width: 100%;
     padding: 1em 1em 0;

     overflow: hidden;
     resize: none;

     line-height: 1.2rem;
 }

 .new-note input:focus,
 .textarea-input:focus {
     outline: none;
     background-color: white;
 }

 .new-note label {
     padding: 0.7em;
     cursor: pointer;
 }

 .new-note button:not(.save-new-note-btn, .pin-btn, .delete-btn, .pin-btn-adding-form, .pin-btn-edit-modal, .save-drawing-btn) {
     align-self: flex-end;
     background-color: transparent;
     border: none;

     padding: 1em;
     cursor: pointer;
 }

 .new-note button:not(.save-new-note-btn, .pin-btn, .delete-btn, .save-drawing-btn):hover,
 .new-note label:not(.checkbox-label-preview):hover,
 .note-bars-btn:hover {
     border-radius: 50%;
     background-color: whitesmoke;
 }

 .save-new-note-btn {
     align-self: flex-end;
     background-color: transparent;
     border: none;
     padding: 0.5em 1em;
     margin-block-end: 0.7em;
     color: var(--crl-font-2);
     cursor: pointer;
 }

 .save-new-note-btn:hover {
     border-radius: .5em;
     background-color: whitesmoke;
 }

 .actions {
     position: relative;
     display: flex;
     justify-content: space-between;
     padding-bottom: 0.3em;
 }

 input.control-color {
     opacity: 0;
     position: absolute;
     z-index: -1;

     width: 30px;
     height: 30px;
     padding: 0.1em;

     border: 1px solid rgb(220, 220, 220);
     border-radius: 5px;

     background-color: white;
 }

 .keep-header {
     display: flex;
     gap: 1em;
     width: 100%;
     justify-content: center;

     padding: 0.5em;
     border-bottom: 1px solid rgb(221, 221, 221);
 }

 .keep-header img {
     height: 45px;
 }

 .keep-logo {
     display: flex;
     gap: 0.7em;
     align-items: center;
     margin-inline-end: auto;

     font-size: 1.5rem;
     font-family: inherit;
     color: var(--crl-font);
 }

 .note-bars-btn {
     background-color: transparent;
     border: none;

     margin-inline-start: 1em;
     padding: 10px 20px;

     font-size: 1.5rem;
     cursor: pointer;
 }

 .note-bars-btn img {
     height: 20px;

 }

 .actions-collapsed-form {
     position: absolute;
     top: 50%;
     right: 1.5em;
     transform: translate(0, -50%);

     display: flex;
     gap: 0.8em;
 }

 .actions-collapsed-form>* {
     padding: 0.5em;
     border-radius: 50%;
 }

 .actions-collapsed-form img {
     width: 1.3em;
     opacity: 0.8;
     cursor: pointer;
 }

 .actions-collapsed-form>*:hover {
     background-color: #ededed;
 }

 .todo-list:first-of-type,
 .url-input,
 .tag-input {
     display: flex;
     width: 100%;
     border-top: 1px solid lightgray;
     border-bottom: 1px solid lightgray;
 }

 .todo-list {
     border-bottom: 1px solid lightgray;
     display: flex;
     width: 100%;
 }

 .todo-list input {
     width: 100%;
 }

 .url-input input,
 .tag-input input {
     width: 100%;
 }

 .pin-btn-adding-form {
     align-self: flex-end;
     background-color: transparent;
     border: none;
     position: absolute;
     right: 1em;

     padding: 0.7em;
     margin-block-start: 0.5em;
     cursor: pointer;
 }

 .pin-btn-adding-form img {
     width: 22px;
     margin: 0;
 }