header {
    background: rgba(230, 250, 255, 0.584);
    /* border-bottom: 2px solid white; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-inline-end: 2em;
}

nav a {
    font-size: 1.1em;
    margin: .5em;

    border-radius: 0.5em;
    transition: 0.2s ease;
    cursor: pointer;
}

nav a:active {
    color: purple;
}

nav a.active {
    font-weight: 600;
    background-color: rgb(202, 244, 255);

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;

    margin-inline-start: 2em;
    cursor: pointer;
}

.logo img {
    width: 4em;
}

.logo h2 {
    color: #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}