.user-msg {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;

    border-radius: 1em;
}

.user-msg.success {
    background-color: #E2F6D3;
}

.user-msg.error {
    background-color: lightpink;
}

.user-msg button {
    padding: 0.5em;
    border: none;
    border-radius: 1em;
    background-color: transparent;
}